.deconnection{
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
.center {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-form{
  width: 300px;
}
