.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.w-90{
  width: 90% !important;
  margin: auto;
}
.div-button{
  margin: 16px;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
