.info{
  padding: 20px 0 !important;
  width: 40% !important;
}
.content-comment{
  width: 70%;
  border-radius: 6px;
  padding: 5px;
  margin: 20px auto;
  background-color: #F5F5F5;
  min-height: 80px;
}
.w-80{
  width: 80% !important;
}
.comment-textarea{
  width: 80%;
  margin: 20px auto;
  display: flex;
  border-radius: 6px;
  padding: 5px;
  min-height: 80px;
}
.send-img{
  cursor: pointer;
  margin: 20px auto;
}
